cachetools ~= 2.0.0
flask-cors
https://github.com/mojodna/marblecutter/archive/5b9040b.tar.gz#egg=marblecutter[web]
rasterio[s3] ~= 1.1.2
numpy==1.17.4
serverless-wsgi
# temporary workaround for https://github.com/mapbox/rasterio/issues/1651
mock